<div class='flex-col flex items-center gap-5'>
    <img
        alt="Colazione initial image"
        class="flex relative w-screen h-16:9"
        src="/images/giuseppino.jpg"
    >
        <h1 class="text-7xl text-white absolute drop-shadow-lg">COLAZIONE</h1>
    <img/>
    <p class="text-base">
        Per una colazione equilibrata, scegli alimenti che ti diano energia e sazietà. Opta per una fonte di proteine, come yogurt greco o uova, accompagnata da carboidrati complessi, come pane integrale o fiocchi d’avena. Aggiungi frutta fresca per vitamine e fibre e una manciata di frutta secca o semi per i grassi sani. Evita zuccheri raffinati e prediligi bevande come tè, caffè o latte senza troppi dolcificanti.
    </p>
</div>