<div class='container'>
    <div class='container items-center text-center text-4xl font-bold'>
        <h1> TRALLALERO TRALLALLA </h1>
    </div>
    <div class="flex md:flex-row m-6 space-y-10">
        <img 
            src="/icon.png"
            alt="Immagine di una città di notte"
            class="border-black rounded-2xl w-auto"
        />
    </div>
</div>
</div>